/*the syntax below selects all text and gives it the color chosen
or in this example below give its a background color behind everything
*{
    background-color: ;
}
*/
body{
    background-color: #549690;
}
button{
    font-size: 30px;
    background-color: #7ec8ca ;
}
h1,h2{
    color: #1d3557;
}
/*Id selector*/
#signup{
    background-color: #023047;
    color: #d5bdaf;
}
span{
    color: #457b9d;
}
/*Class selector*/
 .tag{
    background-color: #9e2a2b;
    color: #8e9aaf;
    font-size: 16px;
}
/*descendant selector
 a{
    color:#457b9d;
}*/
/*descendant selector + class selector*/
.post a{
    color: #525d6f;
}
/*Adjacent selector*/
h2 + button {
    font-size: 15px ;
    background-color: #8e9aaf;
}
/*direct child selector*/
footer > a {
    color: #90a955;
}
/*Attribute selector*/
input [type="password"]{
    color: #b08968;
}

section[class="post"]{
    background-color: rgb(102, 152, 138);
}
/*section.post{
another way of doing the above selector
}*/
/*Pseudo Classes*/
button:hover{
    background-color: #355070;
    color:#f1faee;
}
/* hover pseudo class + class selector(post)*/
.post button:hover{
    background-color: #457b9d;
    color:#f1faee;
}
/*the active pseudo class*/
.post button:active{
    background-color: #02c39a;
}
/*nth-of-type pseudo class
.post:nth-of-type(2){
    color: rgb(66, 112, 99));
}*/
/*important keyword
button{
    background-color: palevioletred !important ;
}*/

